body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

// td,tr {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   word-wrap: break-word;
// }
// table {
//   table-layout:fixed;
// }


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
